input {
  padding: 10px;
  border: 2px solid #000;
  margin-top: 10px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.first {
  display: block;
  width: 50%;
}

.second {
  display: block;
  width: 50%;
}
